---
import Button from '../components/Button.astro'
import Carousel from '../components/Carousel.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Carousel Astro" name="carousel">

  <div class="">
    <Carousel>
    </Carousel>
  </div>

  <Button href="/ac" text="AAAAA" />
</BaseLayout>